@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#container {
  font-family: "Roboto Mono";
  display: flex;
  justify-content: center;
  border-color: black;
  border-radius: 250px;
}
  
.header {
  font-size: 26px;
  font-family: "Roboto Mono";
  max-width: 100%;
    }

.text-center {
  text-align: center;
}

.description-text-center {
  text-align: center;
  text-style: italic;
}

#survey-form {
  text-align: center;
  background-color: rgb(165, 165, 231);
  border-radius: 20px;
  padding: 1% 3%;
}

